<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>발자취 등록 페이지</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
    <div id="header">발자취 등록하기</div>
    <div id="content">
        <form action="/footPost" method="POST">
            <div>
                <label>발자취 이름 : </label>
                <input type="text" name="foot_name" id="foot_name">
            </div>
            <div >
                <label>발자취 내용 : </label>
                <input type="text" name="footCont" id="footCont" >
            </div>
            <div>
                <input type="submit" id="submit" value="등록하기">
            </div>
        </form>
        <div id = "backMypage">
            <form action="/myPage" method="GET">
                <input type="submit" id="_signButton" value="돌아가기">
            </form>
        </div>

    </div>
</body>
</html>