body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: burlywood;
  text-align: center;
}

a {
  color: #00B7FF;
}

#header{
  font-size: 150px;
}

#button{
  font-weight: 100;

}

#footCont{
  width : 500px;
  height: 500px;
}